[Desktop Entry]
Name=Desktop tweaking
Name[de]=Arbeitsumgebung
Name[fr]=Peaufinage du bureau
Comment=Tweak Tool
Icon=gnome-tweak-tool
Exec=gnome-tweak-tool
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;
Keywords=Settings;Advanced;Preferences;Extensions;Fonts;Theme;XKB;Keyboard;Typing;
Keywords[cs]=nastavení;pokročilá;pokročilé;předvolby;rozšíření;písmo;písma;motiv;motivy;XKB;klávesnice;psaní;
Keywords[de]=Einstellungen;Erweiterte;Erweiterungen;Schriften;Thema;XKB;Tastatur;Eingabe;Tweak;Optimierung;
Keywords[el]=Ρυθμίσεις;προχωρημένα;προτιμήσεις;επεκτάσεις;γραμματοσειρές;θέμα;XKB;πληκτρολόγιο;πληκτρολόγηση;
Keywords[es]=Configuración;Avanzada;Preferencias;Extensiones:Tipografías;Tema;XKB;Teclado;Escritura;
Keywords[fi]=Settings;Advanced;Preferences;Extensions;Fonts;Theme;XKB;Keyboard;Typing;asetukset;ominaisuudet;laajennukset;kirjasimet;fontit;teema;näppäimistö;kirjoittaminen;
Keywords[hu]=Beállítások;Speciális;Tulajdonságok;Kiterjesztések;Betűkészletek;Téma;XKB;Billentyűzet;Gépelés;
Keywords[it]=Impostazioni;Avanzate;Preferenze;Estensioni;Tipi di carattere;Temi;XKB;Tastiera;Digitazione;
Keywords[lt]=Nustatymai;Sudėtingesni;Plėtiniai;Šriftai;Tema;XKB;Klaviatūra;Rašymas;
Keywords[pl]=Ustawienia;Zaawansowane;Preferencje;Opcje;Rozszerzenia;Czcionki;Motyw;XKB;Klawiatura;Pisanie;
Keywords[pt]=Definições;Avançadas;Preferências;Extensões;Fontes;Tema;XKB;Teclado;Digitação;
Keywords[pt_BR]=Configurações;Avançado;Preferências;Extensões;Fontes;Tema;XKB;Teclado;Digitação;
Keywords[sk]=Nastavenia;Pokročilé;Rozšírenia;Písma;Téma;XKB;Klávesnica;Písanie;
Keywords[sl]=nastavitve;napredno;lastnosti;razširitve;pisave;teme;tipkovnica;prilagajanje;tipkanje;
Keywords[sr]=подешавања;напредно;поставке;проширења;словни ликови;тема;икскб;тастатура;куцање;
Keywords[sr@latin]=podešavanja;napredno;postavke;proširenja;slovni likovi;tema;ikskb;tastatura;kucanje;
Keywords[zh_CN]=设置;高级;首选项;扩展;字体;主题;键盘;打字;Settings;Advanced;Preferences;Extensions;Fonts;Theme;XKB;Keyboard;Typing;
OnlyShowIn=GNOME;Unity;Pantheon;
