[Desktop Entry]
Name=Text editor
Name[de]=Texteditor
Name[fr]=Éditeur de texte
Comment=Gedit
Exec=gedit %U
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=accessories-text-editor
Categories=GNOME;GTK;Utility;TextEditor;
Actions=Window;Document;
Keywords=Text;Editor;
Keywords[an]=texto;editor;
Keywords[ar]=محرّر;نصوص;نص;
Keywords[as]=Text;Editor;
Keywords[be]=Тэкст;Рэдактар;
Keywords[ca]=Text;Editor;
Keywords[ca@valencia]=Text;Editor;
Keywords[crh]=Metin;Muharrir;
Keywords[cs]=text;editor;
Keywords[da]=Tekst;Tekstredigering;Redigering;
Keywords[de]=Text;Editor;
Keywords[el]=Text;Editor;κείμενο;επεξεργαστής;
Keywords[es]=texto;editor;
Keywords[et]=tekst;redaktor;toimeti;tekstitoimeti;
Keywords[eu]=Testua;Editorea;
Keywords[fa]=متن;ویرایشگر;
Keywords[fi]=Text;Editor;teksti;muokkain;editori;
Keywords[fr]=texte;éditeur;
Keywords[gl]=Texto;Editor;
Keywords[gu]=લખાણ;સંપાદક;
Keywords[he]=טקסט;עורך;עריכה;
Keywords[hi]=पाठ;संपादक;
Keywords[hu]=Szöveg;Szerkesztő;
Keywords[id]=Teks;Penyunting;
Keywords[it]=Editor;Testo;Text;
Keywords[ja]=Text;Editor;テキスト;エディター;
Keywords[kn]=ಪಠ್ಯ; ಸಂಪಾದಕ;
Keywords[ko]=Text;Editor;텍스트;편집기;
Keywords[lt]=Tekstas;Redaktorius;
Keywords[lv]=Teksts;Redaktors;
Keywords[ml]=Text;Editor;
Keywords[mr]=मजकूर;एडिटर;
Keywords[nb]=Tekst;Redigering;
Keywords[nl]=Tekst;Editor;Teksteditor;
Keywords[or]=ପାଠ୍ଯ;ସମ୍ପାଦକ;
Keywords[pa]=ਸ਼ਬਦ;ਟੈਕਸਟ;ਸੰਪਾਦਕ;ਐਡੀਟਰ;
Keywords[pl]=Tekst;Edytor;
Keywords[pt]=Texto;Editor;
Keywords[pt_BR]=Texto;Editor;
Keywords[ru]=Текст;Редактор;
Keywords[sk]=Text;Editor;
Keywords[sl]=urejevalnik;besedilo;gedit;
Keywords[sr]=уређивач;текст;
Keywords[sr@latin]=uređivač;tekst;
Keywords[ta]=உரை;திருத்தி;
Keywords[te]=పాఠం;కూర్పకము;
Keywords[th]=ข้อความ;เครื่องมือแก้ไข;
Keywords[tr]=Metin;Düzenleyici;
Keywords[ug]=Text;Editor;تېكىست;تەھرىرلىگۈچ;تەھرىرلىگۈ;
Keywords[uk]=Текст;Редактор;
Keywords[zh_CN]=文本;编辑器;Text;Editor;
Keywords[zh_HK]=Text;Editor;文字;編輯器;
Keywords[zh_TW]=Text;Editor;文字;編輯器;

[Desktop Action Window]
Name=Open a New Window
Name[an]=Ubrir una finestra nueva
Name[ar]=افتح نافذة جديدة
Name[as]=এটা নতুন উইন্ডো খোলক
Name[be]=Адкрыць новае акно
Name[bg]=Отваряне на нов прозорец
Name[bn_IN]=একটি নতুন উইন্ডো খুলুন
Name[ca]=Obre una finestra nova
Name[ca@valencia]=Obri una finestra nova
Name[crh]=Yañı bir Pencere Aç
Name[cs]=Otevřít nové okno
Name[da]=Åbn et nyt vindue
Name[de]=Ein neues Hauptfenster öffnen
Name[el]=Άνοιγμα ενός νέου παραθύρου
Name[en_GB]=Open a New Window
Name[es]=Abrir una ventana nueva
Name[et]=Uue akna avamine
Name[eu]=Ireki leiho berrira
Name[fa]=باز کردن یک پنجره جدید
Name[fi]=Avaa uusi ikkuna
Name[fr]=Ouvrir une nouvelle fenêtre
Name[gl]=Abrir unha nova xanela
Name[gu]=નવી વિન્ડોને ખોલો
Name[he]=פתיחת חלון חדש
Name[hi]=एक नया विंडो खोलें
Name[hu]=Új ablak megnyitása
Name[id]=Buka Jendela Baru
Name[it]=Apri una nuova finestra
Name[ja]=新しいウィンドウを開く
Name[km]=បើក​បង្អួច​ថ្មី
Name[kn]=ಹೊಸ ಕಿಟಕಿಯಲ್ಲಿ ತೆರೆ
Name[ko]=새 창 열기
Name[lt]=Atverti naują langą
Name[lv]=Atvērt jaunu logu
Name[ml]=പുതിയ ജാലകം തുറക്കുക
Name[mr]=नवीन चौकटीत उघडा
Name[nb]=Åpne et nytt vindu
Name[nl]=Nieuw venster openen
Name[nn]=Opna eit nytt vindauge
Name[or]=ନୂଆ ୱିଣ୍ଡୋ ଖୋଲନ୍ତୁ
Name[pa]=ਇੱਕ ਨਵੀਂ ਵਿੰਡੋ ਖੋਲ੍ਹੋ
Name[pl]=Otwórz nowe okno
Name[pt]=Abrir uma Nova Janela
Name[pt_BR]=Abrir uma nova janela
Name[ru]=Открыть новое окно
Name[sk]=Otvoriť nové okno
Name[sl]=Odpri novo okno
Name[sr]=Отворите нови прозор
Name[sr@latin]=Otvorite novi prozor
Name[sv]=Öppna ett nytt fönster
Name[ta]=புதிய சாளரத்தை திற
Name[te]=కొత్త విండోను తెరు
Name[th]=เปิดหน้าต่างใหม่
Name[tr]=Yeni Pencere Aç
Name[ug]=يېڭى كۆزنەك ئېچىش
Name[uk]=Створити нове вікно
Name[vi]=Mở cửa sổ mới
Name[zh_CN]=打开新窗口
Name[zh_HK]=開啟新的視窗
Name[zh_TW]=開啟新的視窗
Exec=gedit --new-window
OnlyShowIn=Unity;

[Desktop Action Document]
Name=Open a New Document
Name[an]=Ubrir un documento nuevo
Name[ar]=افتح مستندا جديدا
Name[as]=এটা নতুন দস্তাবেজ খোলক
Name[be]=Адкрыць новы дакумент
Name[bg]=Отваряне на нов документ
Name[bn_IN]=নতুন ডকুমেন্ট খুলুন
Name[ca]=Obre un document nou
Name[ca@valencia]=Obri un document nou
Name[crh]=Yañı Bir Vesiqa Aç
Name[cs]=Otevřít nový dokument
Name[da]=Åbn et nyt dokument
Name[de]=Ein neues Dokument anlegen
Name[el]=Άνοιγμα ενός νέου εγγράφου
Name[en_GB]=Open a New Document
Name[es]=Abrir un documento nuevo
Name[et]=Uue dokumendi avamine
Name[eu]=Ireki dokumentu berria
Name[fa]=باز کزدن یک سند جدید
Name[fi]=Avaa uusi asiakirja
Name[fr]=Ouvrir un nouveau document
Name[gl]=Abrir un novo documento
Name[gu]=નવાં દસ્તાવેજને ખોલો
Name[he]=יצירת מסמך חדש
Name[hi]=एक नया दस्तावेज़ बनाएँ
Name[hu]=Új dokumentum megnyitása
Name[id]=Buka Dokumen Baru
Name[it]=Apri un nuovo documento
Name[ja]=新しいドキュメントを作成
Name[km]=បើក​ឯកសារ​ថ្មី
Name[kn]=ಹೊಸ ದಸ್ತಾವೇಜನ್ನು ತೆರೆ
Name[ko]=새 문서 열기
Name[lt]=Atverti naują dokumentą
Name[lv]=Atvērt jaunu dokumentu
Name[ml]=പുതിയ രേഖ ഉണ്ടാക്കുക
Name[mr]=नवीन दस्तऐवज उघडा
Name[nb]=Åpne et nytt dokument
Name[nl]=Nieuw document openen
Name[nn]=Opna eit nytt dokument
Name[or]=ନୂଆ ଦଲିଲ ଖୋଲନ୍ତୁ
Name[pa]=ਇੱਕ ਨਵਾਂ ਦਸਤਾਵੇਜ਼ ਖੋਲ੍ਹੋ
Name[pl]=Otwórz nowy dokument
Name[pt]=Abrir um Novo Documento
Name[pt_BR]=Abrir um novo documento
Name[ru]=Открыть новый документ
Name[sk]=Otvoriť nový dokument
Name[sl]=Odpri nov dokument
Name[sr]=Отворите нови документ
Name[sr@latin]=Otvorite novi dokument
Name[sv]=Öppna ett nytt dokument
Name[ta]=ஒரு புதிய ஆவணத்தை திற
Name[te]=కొత్త పత్రమును సృష్టించు
Name[th]=สร้างเอกสารใหม่
Name[tr]=Yeni Belge Aç
Name[ug]=يېڭى پۈتۈك ئېچىش
Name[uk]=Відкрити новий документ
Name[vi]=Mở tài liệu mới
Name[zh_CN]=打开新文档
Name[zh_HK]=開啟新的文件
Name[zh_TW]=開啟新的文件
Exec=gedit --new-document
OnlyShowIn=Unity;
