[Desktop Entry]
Version=1.0
Terminal=false
Icon=/usr/share/icons/Tango/48x48/categories/applications-graphics.png
Type=Application
Categories=Application;Office;Graphics;
Exec=openoffice.org -draw %U
MimeType=application/vnd.oasis.opendocument.graphics;application/vnd.oasis.opendocument.graphics-template;application/vnd.sun.xml.draw;application/vnd.sun.xml.draw.template;application/vnd.stardivision.draw;
Name=Drawing Program
Name[de]=Zeichenprogramm
Name[fr]=Logiciel de dessin
Comment=OpenOffice Draw
