[Desktop Entry]
GenericName=FTP client
GenericName[de]=FTP-Programm
GenericName[fr]=Téléchargement FTP
Name=Filezilla
Exec=filezilla
Terminal=false
Icon=filezilla
Type=Application
Categories=Network;FileTransfer;
Version=1.0

