[Desktop Entry]
GenericName=Web Browser
GenericName[de]=Webbrowser
GenericName[fr]=Navigateur Web
Name=Mozilla Firefox
Encoding=UTF-8
TryExec=firefox
Exec=firefox %u
Icon=firefox
Terminal=false
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;application/x-xpinstall;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
Type=Application
Categories=Network;WebBrowser;
StartupNotify=true

